@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="ast_slider_wrapper">
		<div class="ast_banner_text">
			<div class="starfield">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="primary-spots">
				<span></span>
				<span></span>
			</div>

			<div class="container">
				<div class="swiper heroswiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="slider-card">
								<h1 class="fw-bold  display-6">
									<span class="text-primary"> <span class="display-4 fw-bold"> U</span>nlock</span> the Mysteries of
									Your Future with Our Comprehensive
									<span class="text-primary"> Astrology Services</span>
								</h1>
								<p class="text-dark px-lg-5 mt-4">
									Welcome to our world of astrology, where ancient wisdom
									meets modern insights to guide you toward a harmonious and
									prosperous life. Our expert astrologers offer a wide range
									of personalized services, ensuring you receive the answers,
									guidance, and insights you seek.
								</p>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="assets/images/banner2.jpg" class="w-100 h-100 rounded-5" alt />
						</div>
					</div>
				</div>

				<div class="ast_bannertext_wrapper">
					<div class="row mt-1 g-4">
						<div class="col-lg-4">
							<div class="card mcard h-100">
								<div class="card-header pb-0">
									<div class="d-flex align-items-center text-start gap-3">
										<div class>
											<h5 class="mb-0 fw-medium">Panchang</h5>
											<p class="mb-0">New Delhi, India (5 August, 2024)</p>
										</div>
									</div>
								</div>

								<div class="card-body">
									<ul class="list-group-1">
										<li>
											<span>Karan:</span><span>Bhav upto 18:05:57</span>
										</li>
										<li>
											<span>Yoga:</span><span>Vyatipata upto 10:37:29</span>
										</li>
										<li>
											<span>Nakshatra:</span><span>Ashlesha upto 15:22:19</span>
										</li>
										<li>
											<span>Day:</span><span>Somavara | Samvat: 2081</span>
										</li>
										<li><span>Month:</span><span>Shravan</span></li>
										<li>
											<span>Tithi:</span><span>Shukla Pratipada upto 18:05:57</span>
										</li>
									</ul>
								</div>
								<div class="card-footer">
									<a href="" class="btn btn-primary w-100 rounded-pill">View Full Panchang</a>
								</div>
							</div>
						</div>

						<div class="col-lg-8">
							<ul class="herofivegrid">
								<li>
									<a href>
										<img src="assets/images/kundali.png" alt />
										<h5>Kundali</h5>
									</a>
								</li>
								<li>
									<a href>
										<img src="assets/images/palmistry.png" alt />
										<h5>Palmistry</h5>
									</a>
								</li>
								<li>
									<a href>
										<img src="assets/images/kundali.png" alt />
										<h5>Horoscope</h5>
									</a>
								</li>
								<li>
									<a href>
										<img src="assets/images/numberology.png" alt />
										<h5>Numberology</h5>
									</a>
								</li>

								<li>
									<a href>
										<img src="assets/images/match-making.png" alt />
										<h5>Match Making</h5>
									</a>
								</li>

								<li>
									<a href>
										<img src="assets/images/vastu.png" alt />
										<h5>Vastu Sastra</h5>
									</a>
								</li>

								<li>
									<a href>
										<img src="assets/images/birth-tithi.png" alt />
										<h5>Birth Tithi</h5>
									</a>
								</li>

								<li>
									<a href>
										<img src="assets/images/panchang-2.png" alt />
										<h5>Panchang</h5>
									</a>
								</li>

								<li>
									<a href>
										<img src="assets/images/free-chat.png" alt />
										<h5>Free Astro Chat</h5>
									</a>
								</li>

								<li>
									<a href>
										<img src="assets/images/astro-talk.png" alt />
										<h5>Astro Talk</h5>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<section class="">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="card mcard h-100">
						<div class="card-header text-start">
							<div class="d-flex align-items-center gap-3">
								<img src="assets/images/kalash.png" alt />
								<div class>
									<h4 class="mb-0 fw-medium">Upcoming Festivals</h4>
									<p class="mb-0">Save for reminder</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="savenotifications">
								<li>
									<a href>
										<h5>Mangala Gauri Vrat,Chandra Darshan</h5>
										<p>06-Aug-2024</p>
									</a>
									<div role="button" class="text-primary">
										<i class="fi fs-4 flaticon-notification"></i>
									</div>
								</li>

								<li>
									<a href>
										<h5>Mangala Gauri Vrat,Chandra Darshan</h5>
										<p>06-Aug-2024</p>
									</a>
									<div role="button">
										<i class="fi fs-4 flaticon-notification"></i>
									</div>
								</li>

								<li>
									<a href>
										<h5>Mangala Gauri Vrat,Chandra Darshan</h5>
										<p>06-Aug-2024</p>
									</a>
									<div role="button">
										<i class="fi fs-4 flaticon-notification"></i>
									</div>
								</li>

								<li>
									<a href>
										<h5>Mangala Gauri Vrat,Chandra Darshan</h5>
										<p>06-Aug-2024</p>
									</a>
									<div role="button">
										<i class="fi fs-4 flaticon-notification"></i>
									</div>
								</li>
							</ul>
						</div>
						<div class="card-fotter card-fotter p-3 pt-0 mt-0">
							<a href class="btn btn-primary w-100 rounded-pill">View All Upcoming Festivals</a>
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="card mcard h-100">
						<div class="card-header text-start">
							<div class="d-flex align-items-center gap-3">
								<img src="assets/images/eclipse.png" height="49" alt />
								<div class>
									<h4 class="mb-0 fw-medium">Upcoming Eclipse</h4>
									<p class="mb-0">Save for reminder</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<ul class="savenotifications">
								<li>
									<a href>
										<h5>Sun Eclipse</h5>
										<p class="d-flex flex-column">
											<span><i class="fa fa-long-arrow-up"></i> 06-Aug-2024 |
												3:35 AM</span>
											<span><i class="fa fa-long-arrow-down"></i> 06-Aug-2024 |
												6:35 AM</span>
										</p>
									</a>
									<div role="button" class="text-primary">
										<i class="fi fs-4 flaticon-notification"></i>
									</div>
								</li>

								<li>
									<a href>
										<h5>Sun Eclipse</h5>
										<p class="d-flex flex-column">
											<span><i class="fa fa-long-arrow-up"></i> 06-Aug-2024 |
												3:35 AM</span>
											<span><i class="fa fa-long-arrow-down"></i> 06-Aug-2024 |
												6:35 AM</span>
										</p>
									</a>
									<div role="button">
										<i class="fi fs-4 flaticon-notification"></i>
									</div>
								</li>

								<li>
									<a href>
										<h5>Sun Eclipse</h5>
										<p class="d-flex flex-column">
											<span><i class="fa fa-long-arrow-up"></i> 06-Aug-2024 |
												3:35 AM</span>
											<span><i class="fa fa-long-arrow-down"></i> 06-Aug-2024 |
												6:35 AM</span>
										</p>
									</a>
									<div role="button">
										<i class="fi fs-4 flaticon-notification"></i>
									</div>
								</li>
							</ul>
						</div>
						<div class="card-fotter p-3 pt-0 mt-0">
							<a href class="btn btn-primary w-100 rounded-pill">View All Upcoming Eclipses</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="ast_wedo_wrapper ast_toppadder70 ast_bottompadder50">
		<div class="section-spacing">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="ast_heading">
							<h1>Daily <span> Horoscope</span></h1>
							<p>Read your horoscope</p>
						</div>
					</div>

					<div class="col-lg-12">
						<div class="card blurbg p-lg-2">
							<div class="card-body">
								<div class="row gy-4">
									<div class="col-lg-3">
										<label for class="col-form-label">Select Your Sign</label>

										<div class="dropdown w-100 cusdrop">
											<button
												class="btn btn-primary dropdown-toggle d-flex align-items-center w-100 ps-2"
												type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
												aria-expanded="false">
												<span class="selected">Select an option</span>
											</button>
											<ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="1">
														<img src="assets/images/signs/aries.svg" alt="Aries"
															class="me-2" width="24" height="24" />
														<span>Aries</span>
													</a>
												</li>
												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="2">
														<img src="assets/images/signs/taurus.svg" alt="Taurus"
															class="me-2" width="24" height="24" />
														<span>Taurus</span>
													</a>
												</li>
												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/gemini.svg" alt="Gemini"
															class="me-2" width="24" height="24" />
														<span>Gemini</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/cancer.svg" alt="Cancer"
															class="me-2" width="24" height="24" />
														<span>Cancer</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/leo.svg" alt="Leo" class="me-2"
															width="24" height="24" />
														<span>Leo</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/virgo.svg" alt="Virgo"
															class="me-2" width="24" height="24" />
														<span>Virgo</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs//libra.svg" alt="Libra"
															class="me-2" width="24" height="24" />
														<span>Libra</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/scorpio.svg" alt="Scorpio"
															class="me-2" width="24" height="24" />
														<span>Scorpio</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/sagittarius.svg" alt="Sagittarius"
															class="me-2" width="24" height="24" />
														<span>Sagittarius</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/capricon.svg" alt="Capricorn"
															class="me-2" width="24" height="24" />
														<span>Capricorn</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/aqvarius.svg" alt="Aqvarius"
															class="me-2" width="24" height="24" />
														<span>Aqvarius</span>
													</a>
												</li>

												<li>
													<a class="dropdown-item d-flex align-items-center option" href="#"
														data-value="3">
														<img src="assets/images/signs/pisces.svg" alt="Pisces"
															class="me-2" width="24" height="24" />
														<span>Pisces</span>
													</a>
												</li>
											</ul>
										</div>

										<!-- Hidden select element to hold the selected value -->
										<select id="realSelect" name="options" style="display: none">
											<option value="1" selected>Aries</option>
											<option value="2">Taurus</option>
											<option value="3">Gemini</option>
											<option value>Cancer</option>
											<option value>Leo</option>
											<option value>Virgo</option>
											<option value>Libra</option>
											<option value>Scorpio</option>
											<option value>Sagittarius</option>
											<option value>Capricorn</option>
											<option value>Aqvarius</option>
											<option value>Pisces</option>
										</select>

										<h5 class="mt-4 fw-bold fs-4 d-none d-lg-flex">
											Horoscopes
										</h5>

										<ul class="list-group mylist d-none d-lg-flex">
											<li><a href class="active">Today's Horoscope</a></li>
											<li><a href>Today's Love Horoscope</a></li>

											<li><a href>Weekly Horoscope</a></li>
											<li><a href> Monthly Horoscope</a></li>
										</ul>
									</div>

									<div class="col-lg-9">
										<div class="card border-0 rounded-4">
											<div class="card-body">
												<div class="text-center">
													<h4 class="fw-bold mb-0">
														Aries Today's Horoscope
													</h4>
													<p>15-Sep-2024</p>
												</div>

												<ul class="horoscope-list">
													<li>
														<strong> Personal:</strong> Learn how to be happy
														in love. The grass is always greener on the other
														side, but everyone knows this is rarely the case.
													</li>
													<li>
														<strong>Travel: </strong>Choose a travel pal
														carefully today.
													</li>
													<li>
														<strong>Money: </strong>Don’t fall into bad habits
														that can change your course.
													</li>
													<li>
														<strong>Career: </strong>With Uranus moving into
														Taurus, your sector that rules money it is
														important to pay attention to spending habits. Try
														not to blow the budget.
													</li>
													<li>
														<strong>Health: </strong>Uranus also represents
														change. This could be an excellent time to make
														small changes that will have a lasting impact.
													</li>
													<li>
														<strong>Emotions: </strong>Practice self-assurance
														and know your self-worth.
													</li>
												</ul>

												<a href class="text-center fw-semibold my-3">Read More <i
														class="fa fa-long-arrow-right"></i></a>
												<span class="divider-line"></span>
												<h6 class="text-primary text-center mt-3 mb-4 fs-5 fw-bold">
													Connect with an expert Astrologer via Call or Chat
													for personalized and in-depth horoscope predictions
													tailored just for you.
												</h6>

												<div class="d-flex align-items-center justify-content-center gap-4">
													<button class="btn btn-primary mw-200px">
														Free Astro Talk
													</button>
													<button class="btn btn-primary mw-200px">
														Astro Chat
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Services Start-->
	<div class="section-spacing bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading">
						<h1 class="text-white">
							our <span class="text-white">services</span>
						</h1>
						<p class="text-white">
							There are many variations of passages of Lorem Ipsum available,
							but the majority have suffered alteration in some form, by
							injected hummer.
						</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="swiper services-slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#" class="ast_service_box">
									<img src="assets/images/shradh.png" alt="Service" />
									<h4>Shradh for Departed Souls</h4>
									<p>
										Shradh is a ritual to pay homage to one's deceased family
										members or ancestors. You can choos...
									</p>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="ast_service_box">
									<img src="assets/images/yagya.png" alt="Service" />
									<h4>Yagya / Pooja / Food Distribution</h4>
									<p>
										Yagya is performed to invoke Gods for their blessings and
										to seek a peaceful and healthy life.
									</p>
									<div class="clearfix"></div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="ast_service_box">
									<img src="assets/images/yagya.png" alt="Service" />
									<h4>Service to mother cow</h4>
									<p>
										Shree Krishnayan Desi Gauraksha shelters destitute cows &
										bulls which are rescued from various...
									</p>
									<div class="clearfix"></div>
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#" class="ast_service_box">
									<img src="assets/images/yagya.png" alt="Service" />
									<h4>Service to mother cow</h4>
									<p>
										Shree Krishnayan Desi Gauraksha shelters destitute cows &
										bulls which are rescued from various...
									</p>
									<div class="clearfix"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Services End-->
	<div class="ast_shop_wrapper ast_toppadder70 ast_bottompadder70 section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading">
						<h1>Astro <span>Shopping</span></h1>
						<p>
							There are many variations of passages of Lorem Ipsum available,
							but the majority have suffered alteration in some form, by
							injected hummer.
						</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="ast_shop_main">
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Navgrah.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title">
											<a href="#">navgraha Yantra</a>
										</h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Rudhrakhsa.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title"><a href="#">rudraksha</a></h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Fengshui.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title"><a href="#">feng shui</a></h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Gemstone.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title"><a href="#">gemstones</a></h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Jadi-Buti.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title"><a href="#">jadi-buti</a></h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Girft-Item.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title"><a href="#">gift items</a></h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Navgrah.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title"><a href="#">Yantra</a></h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6">
								<div class="ast_product_section">
									<div class="ast_product_image">
										<a href="#"><img src="assets/images/content/products/Gemstone.jpg"
												class="img-fluid" /></a>
									</div>
									<div class="ast_product_info">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<h4 class="ast_shop_title"><a href="#">gemstones</a></h4>
										<p>₹30.00</p>
										<div class="ast_info_bottom">
											<a href="#" class="ast_add_cart btn btn-primary">add to cart</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12">
								<button class="d-block mx-auto btn btn-primary mt-4">
									View All
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonials Start-->
	<div class="ast_testimonial_wrapper section-spacing bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading">
						<h1 class="text-white">
							what client<span class="text-white"> says</span>
						</h1>
						<p class="text-white">
							There are many variations of passages of Lorem Ipsum available,
							but the majority have suffered alteration in some form, by
							injected hummer.
						</p>
					</div>
				</div>
				<div class="col-lg-10 col-md-12 col-sm-12 col-12 offset-lg-1 offset-md-0 offset-sm-0 offset-0">
					<div class="swiper ast_testimonials_slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="ast_testimonials_slider_box">
									<div class="test-header">
										<img src="https://dummyimage.com/90x90" alt="Testimonial" />
										<h4>Charlyn Stewart, <span>astrologer</span></h4>
									</div>
									
									<div class="ast_testimonials_slider_box_text">
										<p>
											It is a long established fact that a reader will be
											distracted by the readable content of a page when
											looking at its layout. The point of using Lorem Ipsum is
											that it has a more-or less normal distribution.
										</p>
										
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ast_testimonials_slider_box">
									<div class="test-header">
										<img src="https://dummyimage.com/90x90" alt="Testimonial" />
										<h4>Charlyn Stewart, <span>astrologer</span></h4>
									</div>
									
									<div class="ast_testimonials_slider_box_text">
										<p>
											It is a long established fact that a reader will be
											distracted by the readable content of a page when
											looking at its layout. The point of using Lorem Ipsum is
											that it has a more-or less normal distribution.
										</p>
										
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ast_testimonials_slider_box">
									<div class="test-header">
										<img src="https://dummyimage.com/90x90" alt="Testimonial" />
										<h4>Charlyn Stewart, <span>astrologer</span></h4>
									</div>
									
									<div class="ast_testimonials_slider_box_text">
										<p>
											It is a long established fact that a reader will be
											distracted by the readable content of a page when
											looking at its layout. The point of using Lorem Ipsum is
											that it has a more-or less normal distribution.
										</p>
										
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ast_testimonials_slider_box">
									<div class="test-header">
										<img src="https://dummyimage.com/90x90" alt="Testimonial" />
										<h4>Charlyn Stewart, <span>astrologer</span></h4>
									</div>
									
									<div class="ast_testimonials_slider_box_text">
										<p>
											It is a long established fact that a reader will be
											distracted by the readable content of a page when
											looking at its layout. The point of using Lorem Ipsum is
											that it has a more-or less normal distribution.
										</p>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--About Us Start-->
	<div class="ast_about_wrapper section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading">
						<h1>about <span>Krishnayan Astro</span></h1>
						<p>
							There are many variations of passages of Lorem Ipsum available,
							but the majority have suffered alteration in some form, by
							injected hummer.
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-12 col-sm-12 col-12">
					<div class="ast_about_info_img">
						<img src="assets/images/about.jpg" alt="About" />
					</div>
				</div>
				<div class="col-lg-7 col-md-12 col-sm-12 col-12">
					<div class="ast_about_info">
						<h4>know about Krishnayan Astro</h4>
						<p>
							It is a long established fact that a reader will be distracted
							by the readable content of a page when looking at its layout.
							The point of using Lorem Ipsum is that it has a more-or less
							normal distribution of letters, as opposed to using 'Content
							here, content here', making it look like readable English.
						</p>
						<p>
							Many desktop publishing packages and web page editors now use
							Lorem Ipsum as their default model text, and a search for 'lorem
							ipsum' will uncover many web sites still in their infancy.
						</p>
						<a href="#" class="btn btn-primary">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--About Us End-->
	<!--Team Start-->
	<div class="ast_team_wrapper ast_toppadder70 ast_bottompadder50 section-spacing bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading">
						<h1 class="text-white">
							our <span class="text-info">experts</span>
						</h1>
						<p class="text-white oapcity-75">
							There are many variations of passages of Lorem Ipsum available,
							but the majority have suffered alteration in some form, by
							injected hummer.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-6">
					<div class="ast_team_box">
						<img src="https://dummyimage.com/130x130" alt="team" />
						<h4><a href="#">Clarence Kissel</a></h4>
						<p>astrologer</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-6">
					<div class="ast_team_box">
						<img src="https://dummyimage.com/130x130" alt="team" />
						<h4><a href="#">Marie J. Vela</a></h4>
						<p>tarot reader</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-6">
					<div class="ast_team_box">
						<img src="https://dummyimage.com/130x130" alt="team" />
						<h4><a href="#">Tim M. Hall</a></h4>
						<p>gemstonist</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-6">
					<div class="ast_team_box">
						<img src="https://dummyimage.com/130x130" alt="team" />
						<h4><a href="#">Judith Travis</a></h4>
						<p>astrologist</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Team end-->

	<!--Video Testimonial-->
	<div class="ast_team_wrapper ast_toppadder70 ast_bottompadder50 section-spacing">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading text-start">
						<h1>Testimonial From <span>the clients</span></h1>
						<p class="text-start w-100">
							Suspendisse metus nisl, lacinia et fermentum oreet non sem.
						</p>
					</div>
				</div>
				<div class="col-12">
					<div class="swiper video-testimonial">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="vertical-box">
									<a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="popup-youtube"><img
											src="https://img.youtube.com/vi/lwvFRRfkGG0/maxresdefault.jpg" alt /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="horizontal-box mb-3">
									<a href="https://www.youtube.com/watch?v=JX1sFHvI9N0" class="popup-youtube"><img
											src="https://img.youtube.com/vi/hBp4N1RbRbA/maxresdefault.jpg" alt /></a>
								</div>
								<div class="horizontal-box">
									<a href="https://www.youtube.com/watch?v=JX1sFHvI9N0" class="popup-youtube"><img
											src="https://img.youtube.com/vi/fzMaY95CeYU/maxresdefault.jpg" alt /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="vertical-box">
									<a href="https://www.youtube.com/watch?v=JX1sFHvI9N0" class="popup-youtube"><img
											src="https://img.youtube.com/vi/ttmzXeOu33Y/maxresdefault.jpg" alt /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="vertical-box">
									<a href="https://www.youtube.com/watch?v=JX1sFHvI9N0" class="popup-youtube"><img
											src="https://img.youtube.com/vi/5aKbWi7ZQLI/maxresdefault.jpg" alt /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Video Testimonial end-->

	<!--blogs start-->
	<div class="ast_team_wrapper ast_toppadder70 ast_bottompadder50 section-spacing bg-light">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading text-start">
						<h1>Read Our <span>Latest Blogs</span></h1>
						<p class="text-start w-100">
							Duis aute irure dolor reprehenderit voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat.
						</p>
					</div>
				</div>
				<div class="col-12">
					<div class="swiper blogs-slider">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="ast_blog_box">
									<div class="ast_blog_img">
										<span class="ast_date_tag">28 august, 2022</span>
										<a href="blog_single.html"><img src="https://dummyimage.com/471x297" alt="Blog"
												title="Blog" /></a>
									</div>
									<div class="ast_blog_info">
										<ul class="ast_blog_info_text">
											<li>
												<a href="blog_single.html"><i class="fa fa-comments-o"
														aria-hidden="true"></i>
													28 comments</a>
											</li>
											<li>
												<a href="blog_single.html"><i class="fa fa-user" aria-hidden="true"></i>
													Andrew Coyne</a>
											</li>
										</ul>
										<h3 class="ast_blog_info_heading">
											<a href="blog_single.html">Rahu Enters Cancer and Ketu Enters Capricorn.</a>
										</h3>
										<p class="ast_blog_info_details">
											Consetetur sadipscing elitr, sed diam nonumy eirmod
											tempor invidunt ut labore et dolore magna aliquyam erat
											sed diam voluptua. At vero eos et duo dolores et ea
											rebum."
										</p>
										<a class="btn btn-primary" href="blog_single.html">read more</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ast_blog_box">
									<div class="ast_blog_img">
										<span class="ast_date_tag">28 august, 2022</span>
										<a href="blog_single.html"><img src="https://dummyimage.com/471x297" alt="Blog"
												title="Blog" /></a>
									</div>
									<div class="ast_blog_info">
										<ul class="ast_blog_info_text">
											<li>
												<a href="blog_single.html"><i class="fa fa-comments-o"
														aria-hidden="true"></i>
													28 comments</a>
											</li>
											<li>
												<a href="blog_single.html"><i class="fa fa-user" aria-hidden="true"></i>
													Andrew Coyne</a>
											</li>
										</ul>
										<h3 class="ast_blog_info_heading">
											<a href="blog_single.html">Rahu Enters Cancer and Ketu Enters Capricorn.</a>
										</h3>
										<p class="ast_blog_info_details">
											Consetetur sadipscing elitr, sed diam nonumy eirmod
											tempor invidunt ut labore et dolore magna aliquyam erat
											sed diam voluptua. At vero eos et duo dolores et ea
											rebum."
										</p>
										<a class="btn btn-primary" href="blog_single.html">read more</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ast_blog_box">
									<div class="ast_blog_img">
										<span class="ast_date_tag">28 august, 2022</span>
										<a href="blog_single.html"><img src="https://dummyimage.com/471x297" alt="Blog"
												title="Blog" /></a>
									</div>
									<div class="ast_blog_info">
										<ul class="ast_blog_info_text">
											<li>
												<a href="blog_single.html"><i class="fa fa-comments-o"
														aria-hidden="true"></i>
													28 comments</a>
											</li>
											<li>
												<a href="blog_single.html"><i class="fa fa-user" aria-hidden="true"></i>
													Andrew Coyne</a>
											</li>
										</ul>
										<h3 class="ast_blog_info_heading">
											<a href="blog_single.html">Rahu Enters Cancer and Ketu Enters Capricorn.</a>
										</h3>
										<p class="ast_blog_info_details">
											Consetetur sadipscing elitr, sed diam nonumy eirmod
											tempor invidunt ut labore et dolore magna aliquyam erat
											sed diam voluptua. At vero eos et duo dolores et ea
											rebum."
										</p>
										<a class="btn btn-primary" href="blog_single.html">read more</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="ast_blog_box">
									<div class="ast_blog_img">
										<span class="ast_date_tag">28 august, 2022</span>
										<a href="blog_single.html"><img src="https://dummyimage.com/471x297" alt="Blog"
												title="Blog" /></a>
									</div>
									<div class="ast_blog_info">
										<ul class="ast_blog_info_text">
											<li>
												<a href="blog_single.html"><i class="fa fa-comments-o"
														aria-hidden="true"></i>
													28 comments</a>
											</li>
											<li>
												<a href="blog_single.html"><i class="fa fa-user" aria-hidden="true"></i>
													Andrew Coyne</a>
											</li>
										</ul>
										<h3 class="ast_blog_info_heading">
											<a href="blog_single.html">Rahu Enters Cancer and Ketu Enters Capricorn.</a>
										</h3>
										<p class="ast_blog_info_details">
											Consetetur sadipscing elitr, sed diam nonumy eirmod
											tempor invidunt ut labore et dolore magna aliquyam erat
											sed diam voluptua. At vero eos et duo dolores et ea
											rebum."
										</p>
										<a class="btn btn-primary" href="blog_single.html">read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--blogs end-->

	<!-- Testimonials End-->
	<!-- Download wrapper start-->
	<div class="ast_download_wrapper ast_toppadder70 ast_bottompadder70 section-spacing bg-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_heading">
						<h1>Download our <span>Mobile App</span></h1>
						<p>
							There are many variations of passages of Lorem Ipsum available,
							but the majority have suffered alteration in some form, by
							injected hummer.
						</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ast_download_box">
						<ul>
							<li>
								<a href="#"><img src="assets/images/content/download1.png" alt="Download"
										title="Download" /></a>
							</li>
							<li>
								<a href="#"><img src="assets/images/content/download2.png" alt="Download"
										title="Download" /></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>